<% if @user.errors.full_messages %>
  <% @user.errors.full_messages.each do |message| %>
    <div class="form-error">
      <%= message %>
    </div>
  <% end %>
<% end %>

<%= form_with model: @user, url: "update", local: true do |form| %>
  <div class="edit-user-name">
    <%= form.label :ユーザー名, :class => "name_form" %>
    <%= form.text_field :nicename %>
  </div>
  <div class="edit-user-mail">
    <%= form.label :メールアドレス, :class => "mail_form" %>
    <%= form.email_field :mail %>
  </div>
  <div class="save_form">
    <%= form.submit '保存' %>
  </div>
<% end %>