<div class="form-heading">ログイン画面</div>
<div class="form">
  <div class="form-body"> 
    <% if @error_message %>
      <div class="form-error">
        <%= @error_message %>
      </div>
    <% end %>
    <%= form_for @user, url: { 'controller' => 'users', 'action' => 'login'} do |form| %>
      <div class="login-form">
        <%= form.email_field :mail , :autocomplete =>"on" ,:placeholder => "メール" %>
        <%= form.password_field :password , :autocomplete =>"on" ,:placeholder => "パスワード " %>
      <div class="btn-form">
        <%= form.submit 'ログイン' %>
      </div>
    <% end %>
  </div>
</div>