<div class="form-heading">新規ユーザー登録</div>
<div class="form users-form">
  <div class="form-body">
    <% @user.errors.full_messages.each do |message| %>
      <div class="form-error">
        <%= message %>
      </div>
    <% end %>
      <%= form_with model: User.new, url: "/users/create", local: true do |form| %>
        <%= form.text_field :nicename, :placeholder => "ユーザー名" %>
        <%= form.email_field :mail, :placeholder => "メールアドレス" %>
        <%= form.password_field :password, :placeholder => "パスワード" %>
        <% # 下は要らない？%>
        <%# form.password_field :password_confirmation, :placeholder => "確認のためにもう一度パスワードをお願いします" %>
        <%= form.submit '新規登録' %>
      <% end %>
  </div>
</div>