<div class="user">
  <h2><%= @user.nicename %></h2>
  <% if @user.id == @current_user.id %>
    <p><%= @user.mail %></p>
    <p><%= link_to "編集しますか？", "/users/#{@user.id}/edit" %></p>
  <% end %>
</div>

    <button class="switch-impressions">自分が書いた感想</button>
    <button class="switch-likes">押した♡ </button>

<div class="show-impressions">
  <%= render partial: 'users/user', locals: { impressions: @impressions } %>
</div>

<div class="show-likes">
  <%= render partial: 'users/likes', locals: { likes: @likes } %>
</div>

<script>
// ここの処理間違えている何をしたいのかがわからない
# hemlの定義から変える
  $(function(){
    $('button').($('.switch-impressions')).click(function(){
        # $('#show-likes').removeClass('active');
        $('.show-impressions').css('display', 'block');
      });
      $('button').($('.switch-likes')).click(function(){
        # $('#show-impressions').removeClass('active');
        $('.show-likes').css('display', 'block');
      });
  });
</script>


