<%# コメントがされたらここに表示される。コメントが古いほうが上に出る %>
<%# 同じ投稿.idを持ったcommentが表示される。with_index で順番の可視化 %>

<% @comments.each do |comment| %>
  <p><%= comment.comment %></p>
<% end %>

<div class="comment-form">
  <%= form_with model: Comment.new, url: '/comments/create' do |form| %>

    <div class="comment">
      <%= form.label :コメント %>
      <%= form.text_field :comment %>
      <%= form.hidden_field :user_id ,:value => @current_user.id %>
      <%= form.hidden_field :book_id ,:value => book_id %>
    </div>
    <div class="btn-form">
      <button type="button" onclick="submit();">送信</button>
    </div>
  <% end%>
</div>