<%# 新規と、既存のbookstoreデータを使いたい場合で分ける。同じページでやりたいが、フォームを分けることは、コントローラーで紐づいているため
　　できないので、if で分けるが、 %>

<% book = Book.new %>
<%# fields_for　は複数モデルを使うときに使う %>
<%# book.submitだと結局submitになってしまっているので、submitパーツ以外にする %>
<div class="write-new">
    <div class="close-modal">とじます</div>

  <%= form_with url:'/books/create', local: true, method: :post  do |form| %>
  <div class="new-card">
    <div class="card-image">
      <%= form.label :好きな画像を選んでね %><br>
      <%= form.file_field :image %>
    </div>
    <div class="card-right">
        <%= form.text_field :author , html: {class: 'author'} , :placeholder => "作者の名前" %>

        <%= form.text_field :title , html: {class: 'title'} ,:placeholder => "本のタイトル" %>
    </div>
    <div class="card-text">
      <%=  form.fields_for book.impressions.build do |field| %>
      <%= field.hidden_field :user_id ,:value =>  @current_user %>
        <%= field.text_area :story  , html: {class: 'story'} ,:placeholder => "あらすじ"%>

        <%= field.text_area :impressions, html: {class: 'impressions'} ,:placeholder => "本の感想"%>
        <p><span id="label"></span> characters left</p>
    </div>
    <div class="card-under">
      <button type="button" onclick="submit();">送信</button>
    </div>
    <% end%>
  </div>
  <% end%>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script>
  $(function(){
  var comment = $(this).data('comment');
  var label = $(this).data('#label');

  var LIMIT = 30;

  });
</script>