<%= form_with model: @impression, url: "/impression/update", locale: true do |form|%>
  <div class="card">
    <div class="card-text">
      <%= form.hidden_field :book_id %>
      <div class="story">
        <%= form.label :あらすじ %>
        <%= form.text_area :story  %>
      </div>
      <div class="impressions">
        <%= form.label :感想 %>
        <%= form.text_area :impressions %>
      </div>
    </div>
      <div class="save_form">
        <%= form.submit '保存' %>
      </div>
<% end %>
      <%= link_to "削除", "/#{@impression.book_id}/destroy", {method: "post"} %>
     <%= link_to "戻る", "/show/#{@impression.book_id}.id"%>
    </div>