<p>最近読まれた本</p>
  <% @near_books.each do |book| %>
    <div class="image">
      <% if book.image.attached? %>
        <%= image_tag book.image %>
      <% end %>
    </div>
    <div class="title">
      <%= link_to book.title , "/show/#{book.id}" %>
    </div>
  <% end %>
<p>新着一覧</p>
<%= paginate @books %>
<%= render partial: 'books/cards/cards' %>
<%= paginate @books %>

<div id="back-to-top" class="arrow"><a href="#">↑</a></div>
<div id="pos" class="arrow2"></div>

<script>
$(function(){
  $('#back-to-top').hide();
  $(window).scroll(function(){
    $('#pos').text($(this).scrollTop());
    if ($(this).scrollTop() > 60) {
      $('#back-to-top').fadeIn();
    } else {
      $('#back-to-top').fadeOut();
    }
  });
  $('#back-to-top a').on('click', function(){
    $('body').animate({
      scrollTop:0
    }, 500);
    return false;
  });
});
</script>