<p>最近読まれた本</p>
  <% @near_books.each do |book| %>
    <div class="image">
      <% if book.image.attached? %>
        <%= image_tag book.image %>
      <% end %>
    </div>
    <div class="title">
      <%= link_to book.title , "/show/#{book.id}" %>
    </div>
  <% end %>
<p>新着一覧</p>
<%= paginate @books %>
<%= render partial: 'books/cards/cards' %>
<%= paginate @books %>

<div id="back-to-top" style="position:fixed;right:5px;bottom:5px"><a href="#">↑</a></div>
<div id="pos" style="position:fixed;left:5px;bottom:5px;user-select:none"></div>

# <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>