<header class="header">
  <div class="header-div">
    <% # userログイン時に表示%>
    <% if @current_user %>
      <ul>
        <li class="write-modal">押すと感想書ける</li>　
        <li><%= link_to "新着20件見るなら押す", "/index" %></li>
        <li><%= link_to "#{@current_user.nicename}の本棚", "/users/#{@current_user.id}" %></li>
        <li class="search">
          <%= form_with model: @book, url: '/search', local: true, method: :get do |form| %>
            <%= form.text_field :search_key %>
            <%= form.submit '検索なら押す' %>
          <% end %>
        </li>
      </ul>
        <div class="hidden_box">
          <label for="label1">設定</label>
          <% # 隠しバー　同じulタグ内に置かないのは全部いっぺんに要素が大きくなるのを避けるため%>
          <input type="checkbox" id="label1"/>
          <div class="hidden_show">
            <!--ここに隠す中身-->
            <%= link_to "ユーザー設定", "/users/#{@current_user.id}/edit" %>
            <%= link_to "退会フォームにすべきでしょうかね？ログアウトしますか？", "/logout" %>
          </div>
        </div>
    <% # user非ログイン時%>
    <% else%>
      <ul>
        <li><%= link_to "人気の20件見るなら押す", "/index" %></li>
        <li><%= link_to "ログインするなら押す", "/" %></li>
        <li><%= link_to "新規に登録するなら押す", "/signup" %></li>
        <li  class="search">
          <%= form_with url: '/search', local: true, method: :get do |form| %>
            <%= form.text_field :search_key %>
            <%= form.submit '検索なら押す' %>
          <% end %>
        </li>
      </ul>
    <% end %>
  </div>
</header>
<% if @current_user %>
  <div class="write">
    <%= render partial: 'books/new'%>
  </div>
<% end %>

<% # このような記述もできるが、今回の用途には向かない。そもそも、application.jsで作成したjsを読み込んでいるので、記述は不要 %>
<% if(false) %>
<script src="<%= File.join(Rails.root, 'app/assets/javascripts/libraryApp/header.js') %>"></script>
<% end %>
